{% extends 'base.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block body %}
<div class="custom-container">

<div class="parchem"><div class="chemintop"><a class="achem" href="{{ path('app_home') }}">eSmart</a><p class="pchem">/</p><a class="achem" href="">Connexion</a></div></div>

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

    <div class="contformconn">

        <h1 class="h3conn">Connexion</h1>
        <div class="corpform">
            <div class="corpform2">
                <div class="contemail">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control emailin" autocomplete="email" required autofocus>
                </div>
                <div class="contemail">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control emailin" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            </div>
            <div class="solutionconn">
                <a href="" class="aideconn">Mot de passe oublié</a> 
                <a href="" class="aideconn">S'enregistrer</a> 
            </div>
                <button class="btn btn-lg btn-primary seco" type="submit">
                    Se connecter
                </button>
        </div>
    </div>
</form>
</div>
{% endblock %}
