{% extends 'base.html.twig' %}

{% block title %}eSmart | smartphone{% endblock %}


{% block body %}

<div class="custom-container">


<div class="parchem"><div class="chemintop"><a class="achem" href="{{ path('app_home') }}">eSmart</a><p class="pchem">/</p><a class="achem" href="">Smartphone</a></div></div>


    <div class="contfiltsmar">

<div class="filterdiv"></div>

    <div class="parparsmart">
            <div class="par-smar">
                
                        {% for smartphone in smartphones %}


                    <div class="d-carte">
                        <a class="a-carte" href="{{ path('app_smartphone_show', {'id': smartphone.id}) }}">
                            <div class="carte-tablemin">
                            
                                    <div class="titlephotomin">
                                                <div class="contimgsmartphonesmin"><img class="imgsmartphonesmin" src="{{ asset( 'images/' ~ smartphone.photo ) }}" alt="">
                                                </div>
                                    </div>
                                    
                                    <div class="papacartemin">
                                        <div class="paradcartemin">
                                            <div class="avh2">
                                                <h2 class="h2smartmin">{{ smartphone.nom }}</h2>
                                                <div class="prixmin">{{ smartphone.prix }}€</div>
                                                <div class="voirplus"><p class="voir-t">Voir plus</p></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </a>
                    </div>
                        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
