{% extends 'base.html.twig' %}

{% block title %}eSmart | smartphone{% endblock %}


{% block body %}

<div class="custom-container">

<div class="parchem"><div class="chemintop"><a class="achem" href="">eSmart</a><p class="pchem">/</p><a class="achem" href="">Smartphone</a></div></div>

<a href="{{ path('app_smartphone_new') }}">Create new</a>

            {% for smartphone in smartphones %}

        <a href="{{ path('app_smartphone_show', {'id': smartphone.id}) }}">show</a>
        <a href="{{ path('app_smartphone_edit', {'id': smartphone.id}) }}">edit</a>

            <div class="carte-tablemin">

        <h2 class="h2smartmin">{{ smartphone.nom }}</h2>
            
                    <div class="titlephotomin">
                                <div class="contimgsmartphonesmin"><img class="imgsmartphonesmin" src="{{ asset( 'images/' ~ smartphone.photo ) }}" alt="">
                                </div>
                    </div>
                    
                    <div class="papacartemin">
                        <div class="paradcartemin">
                            <div>
                                </div>
                                <div>
                                    <div class="prixmin">{{ smartphone.prix }}</div>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}

    </div>
</div>
{% endblock %}
