{% extends 'base.html.twig' %}

{% block title %} eSmart |  {{ smartphone.nom }}{% endblock %}

{% block body %}

<div class="custom-container">



<div class="parchem"><div class="chemintop"><a class="achem" href="">eSmart</a><p class="pchem">/</p><a class="achem" href="">Smartphone</a><p class="pchem">/</p>{{ smartphone.nom }}</div></div>

    <div class="carte-table">
            <div class="titlephoto">
                        <div class="contimgsmartphones"><img class="imgsmartphones" src="{{ asset( 'images/' ~ smartphone.photo ) }}" alt="">
                        </div>
            </div>
            
            <div class="papacarte">
                <div class="paradcarte">
                    <div>
                        <div><h2 class="h2smart">{{ smartphone.nom }}</h2></div>
                        <div class="dessmart">Description</div>
                        <div>{{ smartphone.description }}</div>
                        </div>
                        <div>
                            <div>{{ smartphone.prix }}</div>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="contadminaff">
<a class="btn-edt" href="{{ path('app_smartphone_edit', {'id': smartphone.id}) }}">Modifier</a>
{{ include('smartphone/_delete_form.html.twig') }}
</div>



</div>
{% endblock %}
