{% extends 'base.html.twig' %}

{% block title %}eSmart / Smartphone / <div>{{ smartphone.nom }}</div> {% endblock %}

{% block body %}

<div class="custom-container">
    <h1>Smartphone</h1>

        <div class="contadminaff">
            <a class="btn-edt" href="{{ path('app_smartphone_edit', {'id': smartphone.id}) }}">Moddifier</a>
            {{ include('smartphone/_delete_form.html.twig') }}
        </div>

    <div class="carte-table">
            <div class="titlephoto">
                        <div class="contimgsmartphones"><img class="imgsmartphones" src="{{ asset( 'images/' ~ smartphone.photo ) }}" alt="">
                        </div>
            </div>
            
            <div class="papacarte">
                <div class="paradcarte">
                    <div>
                        <div><h2 class="h2smart">{{ smartphone.nom }}</h2></div>
                        <div class="dessmart">Description</div>
                        <div>{{ smartphone.description }}</div>
                        </div>
                        <div>
                            <div>{{ smartphone.prix }}</div>
                    </div>
                </div>
            </div>
    </div>



</div>
{% endblock %}
