<nav>
<div class="contnav">
        <div class="parnav">
                <a class="a-logo" href="{{ path('app_home') }}" class="homebt1">
                    <div class="cennav">
                        <img class="logo2" src='{{ asset("images/logo-esmart2.png")}}' alt="">
                    </div>
                </a>

            <div class="navig">
                <ul class="navig2">
            <li class="li1"><a class="a-nav" href="{{ path('app_smartphone_index') }}"class="homebt2">SmartPhones</a>
            </li>
                <div class="parmarque">
                    <li class="li1"><a class="a-marque" href=""class="homebt2">Marques</a>
                    </li>
                    <ul class="ulmarque">
                            <li class="limarque"><a class="a-nav" href="amarque">Samsung</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Apple</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Huawei</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Xiaomi</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Honor</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Oppo</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Sony</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Google</a></li>
                            <li class="limarque"><a class="a-nav" href="amarque">Autres</a></li>
                        </ul>
                </div>
                <li class="li1"><a class="a-nav" href="{{ path('app_smartphone_index') }}"class="homebt2">Nouveautées</a>
                </li>
                    <li class="li1"><a class="a-nav" href="{{ path('app_smartphone_index') }}"class="homebt2">Meilleurs Ventes</a>
                    </li>
                </ul>
            </div>
            <div class="cennav">
                <div class="search">
                    <form>
                        <input class="reche1" type="search" name="q" placeholder="Recherche">
                    </form>
                    
                </div>
            </div>
            <div class="cennav">
                <div class="nav3">
                    <ul class="ul2">
                    <li class="bordrond" title="Panier">
                        <div class="contpan">0</div>
                    </li>
                    <a class="a-con" href="{{ path('app_login') }}">
                        <li class="bordrond">
                            <div><img class="imguser" src="{{ asset("images/icons8-utilisateur-30.png") }}" alt=''>
                            </div>
                        </li>
                    </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>