<div class="flounav"></div>

<nav>
	<div class="contnav">
		<div class="parnav">
			<a class="a-logo" href="{{ path('app_home') }}" class="homebt1">
				<div class="cennav">
					<img class="logo2" src='{{ asset("images/logo-esmart2.png")}}' alt="">
				</div>
			</a>
			<div class="etirnav">
				<div class="navres">
					<div class="bordrond2">
						<div class="resimg"><img class="imgres-1" src="{{ asset('images/icons8-instagram-100.png') }}" alt="" class="resimg2"></div>
					</div>
					<div class="bordrond2">
						<div class="resimg"><img class="imgres-2" src="{{ asset('images/icons8-facebook-nouveau-96.png') }}" alt="" class="resimg2"></div>
					</div>
					<div class="bordrond2">
						<div class="resimg"><img class="imgres-3" src="{{ asset('images/icons8-twitter-96.png') }}" alt="" class="resimg2"></div>
					</div>
				</div>
				<div class="cennav"></div>
				<div class="redi"></div>
				<div class="divplus">
					<div class="plusdown">
						<div class="flechp">
							<p class="pplus">></p>
						</div>
						<p class="pplus">Plus</p>
						<div class="roulant">
							<div class="roulant-content">
								<ul class="navul">
									<li class="linav">
										<a href="{{ path('app_smartphone_index') }}">Smartphone</a>
									</li>
									<li class="linav">
										<a href="{{ path('app_error404') }}">Marques</a>
									</li>
									<li class="linav">
										<a href="{{ path('app_error404') }}">A propos</a>
									</li>
									<li class="linav">
										<a href="{{ path('app_error404') }}">Nous contacter</a>
									</li>
								</ul>
								<div class="fondflou"></div>
							</div>
						</div>
					</div>

				</div>
				<div class="cennav">
					<div class="nav3">
						<ul class="ul2">
							<a href="{{ path('app_panier') }}">
								<li class="bordrond" title="Panier">
									<div class="contpan" id="nombre"></div>
								</li>
							</a>
							<div class="parcompte">
								<li class="bordrond">
									<div><img class="imguser" src="{{ asset("images/icons8-utilisateur-30.png") }}" alt=''>
									</div>
									<div class="inscon">
										{% if app.user %}
											<div class="nomnav">

												<div class="div-conn">

													{{app.user.nom}}
													{{app.user.prenom}}

													<hr class="hrnom">

												</div>
												<a href="{{ path('app_user_edit', {'id': app.user.id}) }}" class="a-conn">Profil</a>
											</div>

											<div class="div-conn">
												<a href="{{ path('app_logout') }}" class="a-conn">Déconnexion</a>
											</div>

										{% else %}

											<div class="div-conn">
												<a href="{{ path('app_login') }}" class="a-conn">Connexion</a>
											</div>

											<div class="div-ins">
												<a href="{{ path('app_register') }}" class="a-conn">S'enregistrer</a>
											</div>

										{% endif %}

									</div>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
